[data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #e10303;
    --md-primary-fg-color--light: #e61720;
    --md-primary-fg-color--dark:  #9e0b0f;
    --md-primary-bg-color:        #000000;
  }
