{# templates/product.html.jinja #}
{% for item in items %}
##### {{ item['code'] }}

{% for publication in item.publications %}
<div class="publication-container">
  <div class="main-content">

    {# title #}
    <div class="product-title row">
      <p>{{ publication['title'] }}</p>
    </div>

    {# row #}
    <div class="row">

      {# images #}
      <div class="item product-images">
        {% if "images" in publication %}
        {% for image in publication.images %}
        <img class="product-image" src="{{ image }}" />
        {% endfor %}
        {% endif %}
      </div>

      {# product data #}
      <div class="item product-data">
        <p><b>Idioma:</b> {{ publication['language'] }}</p>

        <p><b>Tipo:</b> {{ utils.parse_subtype(publication['type'], publication['subtype']) }}</p>

        {% if publication['publisher'] %}
        <p><b>Editorial:</b> {{ publication['publisher'] }}</p>
        {% endif %}

        {% if publication['date'] %}
        <p><b>Fecha de publicación:</b> {{ utils.parse_date(publication['date']) }}</p>
        {% endif %}

        {% if publication['pages'] %}
        <p><b>Número de páginas:</b> {{ publication['pages'] }}</p>
        {% endif %}

        {% if "pages" in publication %}
        <p><b>Autores:</b> {{ ', '.join(publication['authors']) }}</p>
        {% endif %}

        {% if publication['isbn13'] %}
        <p><b>ISBN13:</b> {{ publication['isbn13'] }}</p>
        {% endif %}

        {% if publication['item_code'] %}
        <p><b>Código de artículo:</b> {{ publication['item_code'] }}</p>
        {% endif %}

        {% if publication['official_url'] %}
        <p><b>URL oficial:</b> <a href="{{ publication['official_url'] }}">enlace</a></p>
        {% endif %}

        {% if publication['wpn_url'] %}
        <p><b>URL Wizards Play Network:</b> <a href="{{ publication['wpn_url'] }}">enlace</a></p>
        {% endif %}

        {% if publication['spain_distr_url'] %}
        <p><b>URL distribuidora en España:</b> <a href="{{ publication['spain_distr_url'] }}">enlace</a></p>
        {% endif %}

        {% if publication['openlibrary_url'] %}
        <p><b>URL Open Library:</b> <a href="{{ publication['openlibrary_url'] }}">enlace</a></p>
        {% endif %}

        {% if publication['amazon_link'] %}
        <a class="amazon_button" target="_blank" href="{{ publication['amazon_link'] }}"><img
            src="img/disponible_en_amazon.png"></a>
        {% endif %}

        {% if publication['type'] == 'boxed_set' and publication['sub_publications']|length > 0 %}
        <p>
        <b>Contenido:</b>
        <ul>
          {% for sub_publication in publication.sub_publications %}
          <li>
            {{ sub_publication['title'] }}
            {% if sub_publication['pages'] %}
            ({{ sub_publication['pages'] }} págs.)
            {% endif %}
            {% if sub_publication['images'] %}
            - {% for image in sub_publication['images'] %}
            [<a target="_blank" href="{{ image }}">{{ loop.index }}</a>]
            {% endfor %}
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endfor %}
